.App {
  text-align: center;
  
}

/* .css-v9jdox-MuiDrawer-docked .MuiDrawer-paper{
  margin-top: 100px;
}

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper{
  margin-top: 100px;
} */
/* 
.MuiTableRow-root td:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.MuiTableRow-root td:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
} */