body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: linear-gradient(0deg, rgba(242, 129, 255, 0.808) 0%, rgba(186,120,203,0.8701855742296919) 48%, rgba(176,174,247,0.738532913165266) 100%);
 

 overflow-x: hidden;
 height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

