
.xyz {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }


  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  input[type="text"],
  input[type="password"]
{
    /* height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
    padding: 0.75em 1em; */

  }

  input[type="email"]
{
    /* height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px; */
    /* width: 100%; */
    /* padding: 0.75em 1em; */
    /* margin: 2em 0 0 0; */
    /* border: 0;
    outline: 0; */
    /* font-size: 16px; */
    /* font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px; */
  }



  
.RegisterInput  {
      height: 35px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      width: 400px;
      /* width: 100%; */
      padding: 0.75em 1em;
      /* margin: 2em 0 0 0; */
      /* border: 0;
      outline: 0; */
      /* font-size: 16px; */
      font-weight: 600;
      letter-spacing: 1px;
      border-radius: 30px;
    }
  
  
  /* .btn {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  } */
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    width: 500px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    margin-top: 20px;
  }


  .btn {
    width: 100%;
    padding: 0.75em 1em;
    margin: 2em 0 0 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
    /* background: linear-gradient(90deg,
            hsla(328, 75%, 45%, 1) 0%,
            hsla(269, 85%, 41%, 1) 100%);
    color: hsl(0, 0%, 100%); */
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    /* transition: all 250ms ease-in-out; */
}

/* .input-container label {
    font-size: 16px;
    font-weight: 400;
    color: #1f1414;
} */
.btn:hover {
    background: #6cf0c2;
  }

  .messageHelp {
    margin: 0.5em 0 1em;
    font-size: 12px;
    color: hsl(203, 20%, 41%);
    user-select: none;
    color: red;
}
