
  /* STORE CSS */
  .floorMapStore{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 1.5em;
    align-items: center;
    justify-content: center;
  }
  .storeInMalls{
      width: 70%;
      max-width: 1200px;
      margin: 3em auto;
    }
    .storeInMallsContainer{
        width: 100%;
        display: flex;
        gap: 3em;
    }
  /* .storeInMallsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
 */

