footer{
    width: 100%;
    background-color: var(--dark-primary-color);
    /* padding: 1em; */
}
.footerContainer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding : 2em;
}
.footerContainer .logo{
    display: flex;
    align-items:flex-start;
    text-transform: uppercase;
}
.footerContainer .logo h1 {
    color: var(--dissolve-color);
    font-size: 20px;
  }
  .footerContainer .logo img {
    max-width: 30px;
    height: auto;
}
.footerContainer .companynlinks,
.footerContainer .location,
.footerContainer .shoppers,
.footerContainer .followus
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.companynlinks section,
.location section,
.shoppers section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.companynlinks section h1,
.location section h1,
.shoppers h1,
.followus h1{
    font-size: 22px;
    color: var(--dissolve-color);
}

.companynlinks section ul,
.location section ul,
.shoppers section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.companynlinks section ul a,
.location section ul h4,
.shoppers p
{
    font-size: 14px;
    font-weight: 400;
    color: var(--dissolve-color);
    text-decoration: none;
}
.copyright{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    background-color: var(--darker-primary-color);
    color: var(--dissolve-color);
}