
  /* Parent css */

  .mallContainer{
    width: 85%;
    height: 80vh;
    padding:2em 3em;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    background: rgba(139, 14, 175, 0.09);
    color: var(--darker-primary-color);
  }

  .mallDetails h1{
    text-transform: capitalize;
    margin: 0.5em 0 0.2em;
    font-size: 350%;
    max-width: 80%;
  }
  
  .mallDetails h4{
    margin: 0 0 2em;
    color: var(----grey-primary-color)
  }

/* mall details.css */

.location-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: start;
    text-align: center;
  }
  .location-container span{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5rem;
  }
  .location-container span .icon {
    font-size: 15px;
    padding-top: 4px;
  }
  
  .location-container a {
    color: var(--darker-primary-color); 
    text-decoration: none;
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden; /* Hides any overflowing content */
    text-overflow: ellipsis;
    max-width: 400px;
  }
  
  .location-container a:hover {
    color: #0056b3;
  }
  .stats-container {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 1.5em 0;
  }
  .hidden{
    display: none;
  }

  .stats-container span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }
  .statNumber{
    font-size: 4.5rem;
    font-weight: bolder;
  }
  .stats-container .icon{
    font-size: 20px;
    margin-left: .5em;
  }
  .mallImage{
    width:100%;
    height: 500px;
  }
  .mallImage img{
    width:100%;
    height: 100%;
    border-radius: 10px;
  }

