/* mall details.css */

.location-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    margin: 20px;
  }
  .location-container span{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
  }

  
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  a:hover {
    color: #0056b3;
  }
  .stats-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    gap: 2rem;
  }
  .stats-container span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .statNumber{
    font-size: 3rem;
    font-weight: bolder;
  }
  .stats-container .icon{
    font-size: 3em;
    margin-bottom: 1em;
    margin-left: .5em;
  }
  .mallImage{
    width:100%;
    height: 80%;
  }
  .mallImage img{
    width:100%;
    height: 100%;
  }


  /* Parent css */

  .mallContainer{
    width: 80%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

