main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-autosuggest__container {
    position: relative;
    /* width: 70%;
    margin: 0 auto; */

    margin: calc(75px + 2vh + 2vw) auto 0 auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
  }
  
  .react-autosuggest__container input {

    width: 100%;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .react-autosuggest__container input:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 6px rgba(108, 99, 255, 0.5);
  }
  
  .react-autosuggest__suggestions-container--open {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestion:hover {
    background-color: #f0f0f0;
  }
  